<h2>SoundSearch: App and API for free sounds</h2>
<h3>Enter text and click search to get a list of the closest sounds from the freesound.com library.</h3>

<form name="sound_search_form" action="/results" method="POST">

    <div class="form-group">
        <label>Keywords(Space separated, no special characters)</label>
        <input type="text" class="form-control" id="keys" name="keys">
        <input type="submit" value="Submit">
    </div>

</form>

<div>
    <h3>Enter a search tearm to grab the closest related image:</h3>
    <form name="image_search_form" action="http://127.0.0.1:5000/result?" method="GET">

        <div class="form-group">
            <label>Keywords(Space separated, no special characters)</label>
            <input type="text" class="form-control" id="search_query" name="search_query">
            <input type="submit" value="Submit">
        </div>

    </form>
</div>

<h3>If you would like to install or use the live link for an API go my Github repo and see the README:</h3>
<a href="https://github.com/moorenat/CS361">Github repo</a>