<h2>SoundSearch: App and API for free sounds</h2>
<h3>Enter text and click search to get the top 5 closest sounds from the freesound.com library.</h3>

<form name="sound_search_form" action="/results" method="POST">

    <div class="form-group">
        <label>Keywords(Space separated, no special characters)</label>
        <input type="text" class="form-control" id="keys" name="keys">
        <input type="submit" value="Submit">
    </div>

</form>