<h2>Welcome to Oauth2.0</h2>
<h3>Click the button to initiate authorization</h3>

<form name="oauth_form" action="/" method="POST">

    <div class="form-group">
        <input type="submit" value="Submit">
    </div>

</form>