<h3> Search Results: </h3>
<p>


    {{context.state}}

</p>

<table>
    <tbody>
        {{#each context.results}}
        <tr>
            <td>{{name}}</td>
            <td>{{{description}}}</td>
            <td><audio controls="controls">
                    <source src="{{previews.preview-hq-mp3}}" />
                </audio></td>
        </tr>
        {{/each}}
    </tbody>
</table>